<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MY FRUITS</h1>

    <ol>
        {% for fruit in fruits %}
            {% if fruit == "melon" %}
            <li>my favorite : {{fruit}}</li>
            {% else %}
            <li>{{fruit}}</li>
            {% endif %}
        <li>{{fruit}}</li>
        {% endfor %}
    </ol>

    <p>{{fruits|length}}</p>
    <p>{{fruits|join:", "}}</p>
</body>
</html>