{% extends 'base.html' %}

{% block content %}
    <h1>DETAIL</h1>
    <h2>{{articles.pk}} 번째 글</h2>
    <hr>
    <p>글 제목 : {{articles.title}}</p>
    <p>글 내용 : {{articles.content}}</p>
    <p>생성시각 : {{articles.created_at}}</p>
    <p>수정시각 : {{articles.updated_at}}</p>
    <hr>
    <a href="{% url 'articles:edit' articles.pk %}">EDIT</a><br>
    
    <form action="{% url 'articles:delete' articles.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE">
    </form>
    <a href="{% url 'articles:index' %}">목록보기</a>
{% endblock content %}