<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>연산할 두 숫자를 입력하세요</h1>
    <form action="{% url 'result' %}">
        <label for="first_num">첫번째 숫자</label>
        <input type="number" id='first_num' name='first_num'>
        <label for="second_num">두번째 숫자</label>
        <input type="number" id='second_num' name='second_num'>
        <input type="submit">
    </form>
</body>
</html>